
<div class="container" style="padding-top: 100px;">
    <div class="jumbotron">
        <h1>Contato!</h1>
        <p>Formulário de contato.</p>
    </div>
    <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="nomecontatolbl">Nome</label>
            <input type="text" class="form-control" id="nomecontato" placeholder="Nome Completo" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="emailcontatolbl">E-mail</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" >@</span>
              </div>
              <input type="email" class="form-control" id="emailcontato" placeholder="E-mail" aria-describedby="emailcontato" required>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="telefonecontato">Telefone</label>
            <input type="number" class="form-control" id="telefonecontato" placeholder="Telefone" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="lblmensagem">Menssagem</label>
            <textarea class="form-control" id="textMensagem" rows="7" placeholder="Digite Sua Mensagem" required>

            </textarea>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
</div>
